*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    outline: 1px solid #eee;
}

* {
    scrollbar-width: 5px;
    scrollbar-color: var(--bs-primary);
}
html {
    scroll-padding-top: 90px; /* Adjust this value to the height of your navbar */
}
a{
    text-decoration: none;
}
.anchor-links{
    &{
        font-size: 130%;
        color: #333;
        margin-bottom: 5px;
    }
    span{
        display: none;
    }
    &:hover{
        opacity: 0.8;
        &::after{
            content: " #";
        }
    }
}

.logo{
    max-height: 40px;
    height: 100%;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar-brand-name{
        margin: 0 15px;
    }
}

img.autozoom{
    cursor: zoom-in;
}

#image-overlay {
    .image-overlay-content{
        &{
            position: fixed;
            top: 0;
            background-color: #333b;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5%;
            height: 100vh;
            width: 100vw;
            cursor: zoom-out;
        }

        img{
            width: auto;
            height: 100%;
            max-height: 90vh;
            max-width: 90vw;
        }
    }

}

.submenu-item-svg{
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    // fill: rgba(235, 235, 235, .38);
    transition: fill .25s;
    vertical-align: middle;
}

@media print{
    .no-print {
        display: none !important;
    }
    #main-content{
        width: 100%;
    }
}